
{% include 'header.html' %}

<div class="container">
  <h1 class="my-4 text-center fw-bold">Community and Social Structure </h1>
  <div class="row g-4 justify-content-center px-5">
    
    <div class="col-sm-6 col-lg-4">
      <a href="Community/village-life.html" class="text-decoration-none text-dark">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/community/img1.jpg') }}" class="card-img-top" alt="Village Life in Sudurpaschim">
          <div class="card-body">
            <h5 class="card-title">Village Life</h5>
            <p class="card-text">Experience the traditional lifestyle, self-sustained agriculture, and close-knit communities of Sudurpaschim’s rural areas.</p>
            <div class="text-primary fw-semibold">Learn More</div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-lg-4">
      <a href="Community/joint-family.html" class="text-decoration-none text-dark">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/community/img2.jpg') }}" class="card-img-top" alt="Joint Family System">
          <div class="card-body">
            <h5 class="card-title">Joint Family Tradition</h5>
            <p class="card-text">Sudurpaschim communities often follow joint family systems, promoting shared values, cooperation, and generational bonding.</p>
            <div class="text-primary fw-semibold">Learn More</div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-lg-4">
      <a href="Community/ethnic-harmony.html" class="text-decoration-none text-dark">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/community/img3.jpg') }}" class="card-img-top" alt="Ethnic Harmony">
          <div class="card-body">
            <h5 class="card-title">Ethnic Diversity & Harmony</h5>
            <p class="card-text">Sudurpaschim is home to Tharu, Chhetri, Brahmin, Dalit, and indigenous groups living together in peace and mutual respect.</p>
            <div class="text-primary fw-semibold">Learn More</div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>

{% include 'footer.html' %}
