{% include 'header.html' %}
<div class="container">
    <h1 class="my-4 text-center fw-bold">Cultural and Traditional</h1>
    <div class="row g-4 justify-content-center px-5">

      <!-- Card 1 -->
      <div class="col-sm-6 col-lg-4">
        <a href="Cultural/gaura.html" class="text-decoration-none text-dark">
          <div class="card h-100" style="width: 18rem;">
            <img src="static/images/cultural/img1.jpg" class="card-img-top" alt="Gaura Festival">
            <div class="card-body">
              <h5 class="card-title">Gaura Festival Begins in Sudurpaschim</h5>
              <p class="card-text text-truncate-multiline">
                DHANGADI: Gaura festival has begun in the Far-Western region of the country including Dhangadhi. It is one of the most popular festivals observed in the region. The festival begins from Bhadra Krishna Panchami of the Nepali calendar and lasts for four days. On the first day, idols of Gaura are established at a field and adorned with jewellery.
              </p>
              <div class="text-primary fw-semibold">Learn More</div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 2 -->
      <div class="col-sm-6 col-lg-4">
        <a href="Cultural/festivals-identity.html" class="text-decoration-none text-dark">
          <div class="card h-100" style="width: 18rem;">
            <img src="static/images/cultural/img2.jpg" class="card-img-top" alt="Deuda Dance">
            <div class="card-body">
              <h5 class="card-title">Deuda</h5>
              <p class="card-text text-truncate-multiline">
                Deuda (Nepali: देउडा) or Deuda Khel is a Nepali genre of song and dance, originated by khas community and performed in the Sudurpashchim and Karnali provinces of Nepal. The dance is performed in a circle by holding hands and singing Deuda songs. It is considered part of the cultural heritage of Karnali Province.
              </p>
              <div class="text-primary fw-semibold">Learn More</div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 3 -->
      <div class="col-sm-6 col-lg-4">
        <a href="Cultural/folk-culture.html" class="text-decoration-none text-dark">
          <div class="card h-100" style="width: 18rem;">
            <img src="static/images/cultural/img3.jpg" class="card-img-top" alt="Bhuwa Naach">
            <div class="card-body">
              <h5 class="card-title">Bhuwa Naach: The War Dance</h5>
              <p class="card-text text-truncate-multiline">
                Bhuwa Naach is a traditional war dance from Doti district, performed by men in white attire with swords and shields. The dance is held in temple courtyards and is believed to appease deities. It’s rooted in military traditions from the Baise-Chaubisey Rajya era.
              </p>
              <div class="text-primary fw-semibold">Learn More</div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
{% include 'footer.html' %}
