
{% include 'header.html' %}

<div class="container">
  <h1 class="my-4 text-center fw-bold">Festivals and Celebrations</h1>
  <div class="row g-4 justify-content-center px-5">

    <!-- Card 1 -->
    <div class="col-sm-6 col-lg-4">
      <a href="Festivals/dashain.html" class="text-decoration-none text-dark">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/festivals/WhatsApp Image 2024-10-14 at 12.19.26.jpeg') }}" class="card-img-top" alt="Dashain Festival">
          <div class="card-body">
            <h5 class="card-title">Dashain</h5>
            <p class="card-text text-truncate-multiline">
              Dashain, the biggest Hindu festival, is celebrated with joy and family reunions across Sudurpaschim, marked by tika, jamara, and blessings.
            </p>
            <div class="text-primary fw-semibold">Learn More</div>
          </div>
        </div>
      </a>
    </div>

    <!-- Card 2 -->
    <div class="col-sm-6 col-lg-4">
      <a href="Festivals/holi.html" class="text-decoration-none text-dark">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/festivals/img2.jpg') }}" class="card-img-top" alt="Holi Festival">
          <div class="card-body">
            <h5 class="card-title">Holi Festival</h5>
            <p class="card-text text-truncate-multiline">Holi, the festival of colors, is joyfully celebrated across Sudurpaschim Province, uniting people of all ages and communities. Marking the arrival of spring and the victory of good over evil, Holi is filled with vibrant colors, laughter, and cultural significance.            </p>
            <div class="text-primary fw-semibold">Learn More</div>
          </div>
        </div>
      </a>
    </div>

    <!-- Card 3 -->
    <div class="col-sm-6 col-lg-4">
      <a href="Festivals/maghi.html" class="text-decoration-none text-dark">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/festivals/img3.jpg') }}" class="card-img-top" alt="Maghi Festival">
          <div class="card-body">
            <h5 class="card-title">Maghi</h5>
            <p class="card-text text-truncate-multiline">
              Celebrated by the Tharu community, Maghi marks the New Year and is filled with cultural songs, dances, and a spirit of unity and renewal.
            </p>
            <div class="text-primary fw-semibold">Learn More</div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>

{% include 'footer.html' %}
