{% include 'header.html' %}
  <!-- Community and Social Structure -->
<div class="container">
    <h1 class="my-4 text-center fw-bold">Youth and Modern Social Life</h1>
    <div class="row g-4 justify-content-center px-5">

      <!-- Card 1 -->
      <div class="col-sm-6 col-lg-4">
        <a href="Youth/lifestyle.html" class="text-decoration-none text-dark">
          <div class="card h-100" style="width: 18rem;">
            <img src="static/images/Youth/img2.jpg" class="card-img-top" alt="Modern Lifestyles">
            <div class="card-body">
              <h5 class="card-title">Modern Lifestyles</h5>
              <p class="card-text text-truncate-multiline">
                Young people in Sudurpaschim are increasingly influenced by global trends, adopting modern fashion, gadgets, and urban habits.
              </p>
              <div class="text-primary fw-semibold">Learn More</div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 2 -->
      <div class="col-sm-6 col-lg-4">
        <a href="Youth/technology.html" class="text-decoration-none text-dark">
          <div class="card h-100" style="width: 18rem;">
            <img src="static/images/Youth/img1.jpg" class="card-img-top" alt="Digital Engagement">
            <div class="card-body">
              <h5 class="card-title">Digital Engagement</h5>
              <p class="card-text text-truncate-multiline">The youth are actively participating in social media, raising voices on issues and promoting local identity globally.</p>
              <div class="text-primary fw-semibold">Learn More</div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 3 -->
      <div class="col-sm-6 col-lg-4">
        <a href="Youth/education.html" class="text-decoration-none text-dark">
          <div class="card h-100" style="width: 18rem;">
            <img src="static/images/Youth/iStock-1223141903.jpg" class="card-img-top" alt="Education & Awareness">
            <div class="card-body">
              <h5 class="card-title">Education & Awareness</h5>
              <p class="card-text text-truncate-multiline">
                There is a growing awareness among youth regarding education, health, and social equality, transforming the region.
              </p>
              <div class="text-primary fw-semibold">Learn More</div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>


{% include 'footer.html' %}
